<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GridWars Log In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bulma/0.7.4/css/bulma.min.css}">
    <script defer th:src="@{/webjars/font-awesome/5.8.1/js/all.min.js}"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <h1 class="title" th:text="#{page.user.login.title}"></h1>

                <div th:if="${param.error}" th:text="#{page.user.login.error}" class="notification is-warning"
                     role="alert"></div>
                <form method="post" th:action="@{/login}">
                    <div class="field">
                        <label class="label" for="username" th:text="#{page.user.login.username.label}"></label>
                        <div class="control has-icons-left has-icons-right">
                            <input id="username" class="input" th:classappend="${param.error} ? 'is-warning' : ''"
                                   name="username" type="text" maxlength="16" autocomplete="username"
                                   required placeholder="Username">
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                            <span th:if="${param.error}" class="icon is-small is-right"><i
                                    class="fas fa-exclamation-triangle"></i></span>
                        </div>
                        <p th:if="${param.error}" class="help is-warning"
                           th:text="#{page.user.login.credentials.invalid}"></p>
                    </div>

                    <div class="field">
                        <label class="label" for="password" th:text="#{page.user.login.password.label}"></label>
                        <div class="control has-icons-left has-icons-right">
                            <input id="password" class="input" th:classappend="${param.error} ? 'is-warning' : ''"
                                   name="password" maxlength="32" autocomplete="password"
                                   required type="password" placeholder="Password">
                            <span class="icon is-small is-left"><i class="fas fa-user-secret"></i></span>
                            <span th:if="${param.error}" class="icon is-small is-right"><i
                                    class="fas fa-exclamation-triangle"></i></span>
                        </div>
                        <p th:if="${param.error}" class="help is-warning"
                           th:text="#{page.user.login.credentials.invalid}"></p>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link"
                                    th:text="#{page.user.login.button.submit}"></button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button is-text"
                                    th:text="#{page.user.login.button.cancel}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>